@import 'base';
@import 'footer';
@import 'nav';
@import 'packages/thumbnail';

body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

header {
    position: relative;
    width: 100vw;
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 100;
        margin-bottom: 128px;

        background-color: rgba(0, 0, 0, 0.7);
        padding: 32px;
        border-radius: 8px;

        h2 {
            font-size: 32px;
            color: rgba(255, 255, 255, 0.9);
            font-family: var(--font-family-normal);
            font-weight: 300;
            margin-top: 0;
        }

        form {
            display: flex;
            box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
            border-radius: 8px;

            input, select, .selectize-control {
                width: 190px;
                margin-right: 8px;
            }

            button {
                border: none;
                margin: none;
                padding: 12px 18px;
                background-color: var(--color-secondary);
                color: #fff;
                cursor: pointer;
                font-size: 14px;
                border-radius: 3px;

                &:hover {
                    background-color: var(--color-secondary-light);
                }
            }
        }
    }
}

#trip-types {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 6px;
    max-width: 1600px;

    .trip-type {
        position: relative;
        width: 210px;
        height: 150px;
        margin: 6px;
        padding: 6px, 3px;
        cursor: pointer;
    
        img {
            width: 100%;
            height: 100%;
            border-radius: 8px;
            filter: brightness(60%);
            object-fit: cover;
        }

        .name {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            white-space: nowrap;

            font-size: 22px;
            color: rgba(255, 255, 255, 0.9);
            font-family: var(--font-family-heading-2);
            font-weight: 600;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            .name {
                top: 60%;
            }
        }
    }
}



#top-destinations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 86px;
    max-width: 1600px;

    .title {
        margin: 16px 12px;
        font-size: 48px;
        font-family: var(--font-family-heading);
        font-weight: 200;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
    }

    .destination {
        width: 312px;
        margin: 0 10px 16px;
        padding: 6px, 3px;
        cursor: pointer;

        img {
            width: 100%;
            height: 242px;
            object-fit: cover;
            transition: all 0.3s ease-in-out;
            border-radius: 10px;
        }

        .name {
            font-size: 24px;
            font-family: var(--font-family-heading-2);
            text-transform: capitalize;
            margin-top: 6px;
        }

        .info {
            font-size: 14px;
            text-transform: uppercase;
            opacity: 0.5;
            font-weight: 600;
        }

        &:hover {
            img {
                transform: scale(1.02);
            }

            .name {
                color: var(--color-tertiary-dark);
            }
        }
    }

}

#package-deals {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 86px;
    max-width: 1600px;

    .title {
        margin: 12px 16px 24px;
        font-size: 48px;
        font-family: var(--font-family-heading);
        font-weight: 200;
        text-align: center;
        width: 100%;

        text-transform: uppercase;
    }

    .package-thumbnail {
        width: 416px;
        margin: 0 10px 16px;
    }
}

#explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 100px;
    padding: 48px 0 64px 0;
    background-color: var(--color-primary-dark);

    h2 {
        font-family: var(--font-family-heading);
        font-weight: 600;
        text-transform: uppercase;
        font-size: 32px;
        color: #fff;
        margin: 0;
    }

    .summary {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;
        margin-top: 32px;
        font-family: var(--font-family-normal);

        .item {
            margin: 0 20px;
            color: #fff;
            font-size: 18px;
            font-weight: 800;
            
            i {
                margin-right: 8px;
                font-size: 24px;
            }
        }
    }
    
    .summary-2 {
        display: flex;
        margin-top: 48px;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;
        font-family: var(--font-family-normal);
        
        a {
            text-decoration: none;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;

            &:not(:last-child) {
                margin-right: 64px;
            }

            span {
                font-size: 32px;
                margin-right: 8px;
            }
        }
    }

    .links {
        display: flex;
        flex-wrap: wrap;
        margin-top: 48px;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            color: #fff;
            background-color: #000a;
            padding: 12px 22px;
            font-size: 15px;
            font-weight: 800;
            transition: all 0.2s ease-in-out;
            margin: 8px 16px;
            border-radius: 32px;
            
            &:hover {
                background-color: var(--color-secondary-dark);
            }
        }
    }
}

@media screen and (max-width: 1080px) {
    #top-destinations {
        .destination {
            width: 300px;

            img {
                height: 200px;
            }
        }
    }
    
    #package-deals {
        .package-thumbnail {
            width: 300px;
            
            img {
                height: 200px;
            }
        }
    }
}

@media screen and (max-width: 532px) {
    header {
        height: auto;

        section {
            margin: 48px 16px 32px;
            padding: 16px;

            h2 {
                font-size: 22px;
            }

            form {
                flex-direction: column;

                input, select, .selectize-control {
                    margin-right: 0;
                    margin-bottom: 8px;
                    width: 60vw;
                }

            }
        }
    }

    #trip-types {
        .trip-type {
            width: calc(100% - 48px);
            height: 128px;
        }
    }

    #top-destinations {
        margin-top: 32px;

        .title {
            font-size: 34px;
        }

        .destination {
            width: calc(100% - 48px);

            img {
                height: 130px;
            }

            .name {
                font-size: 22px;
            }
        }
    }
    
    #package-deals {
        margin-top: 32px;

        .title {
            font-size: 34px;
        }

        .package-thumbnail {
            width: calc(100% - 48px);

            img {
                height: 130px;
            }

            .name {
                font-size: 22px;
            }
        }
    }

    #explore {
        .summary-2 {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            a {
                font-size: 16px;
                margin: 0 4px;

                span {
                    font-size: 22px;
                    margin-right: 2px;
                }
            }
        }
    }
}
