<p>
Hi <b>{{ inquiry.contact_name }}</b>,
</p>

<p>
Thank you for reaching out to us for your interest in booking a package from Nepal Environmental Treks & Expedition.
This is your confirmation that we have received your request and will reach out to you soon with details about pricing and next steps.
</p>

<p>
If you have questions, feel free to send us an email at <a href="mailto:envtrek@gmail.com">envtrek@gmail.com</a> anytime.
</p>

<p style="white-space: pre;">
<b>Details about your booking</b>
Booking Title: {{ inquiry.title }}
Name: {{ inquiry.contact_name }}
Email: {{ inquiry.contact_email }}
Number of people: {{ inquiry.no_of_people }}
Phone: {{ inquiry.contact_phone }}
Number of days: {{ inquiry.no_of_days }}
Start date: {{ inquiry.start_date }}
</p>

<p style="white-space: pre;">
Thank you,
Nava Raj Dahal
Managing Director

<b>Nepal Environmental Treks & Expedition</b>
Thamel, Kathmandu, Nepal
Email: <a href="mailto:envtrek@gmail.com">envtrek@gmail.com</a>
</p>