<footer>

    <section>
        <h3>About</h3>

        <a href="#">About Us</a>
        <a href="#">Contact</a>
        <a href="#">Faq</a>
        <a href="#">Sitemap</a>
    </section>

    <section>
        <h3>Quick Links</h3>

        <a href="#">Visa Info</a>
        <a href="#">Health and Safety</a>
        <a href="#">Travel Insurance</a>
    </section>

    <section>
        <h3>Contact</h3>

        <a href="mailto:envtrek@gmail.com">envtrek@gmail.com</a>
        <a href="tel:+9779851031532">Mobile: +977 985103152</a>
        <a href="tel:+97715906003">Tel: +977 1 5906003</a>
        <a href="fax:+97715906100">Fax: +977 1 5906100</a>
    </section>

    <section>
        <h3>Address</h3>
        
        <a href="#">Thamel, Kathmandu, Nepal</a>
        <a href="#">P.O.Box: 25728</a>

        <div class="map-container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.102485139767!2d85.30992907623325!3d27.714121825191334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb18fd7455352f%3A0xfb9d7c23039f5f!2sNepal%20Environmental%20Treks%20and%20Expedition%20Pvt.%20Ltd.!5e0!3m2!1sen!2sus!4v1684017441371!5m2!1sen!2sus"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
</footer>

<div id="status">
    Copyright © Nepal Environmental Treks &amp; Expedition Pvt. Ltd. 2020. All Rights Reserved.
</div>