<footer>

    <section>
        <h3>About</h3>

        <a href="#">About Us</a>
        <a href="#">Contact</a>
        <a href="#">Faq</a>
        <a href="#">Sitemap</a>
    </section>

    <section>
        <h3>Quick Links</h3>

        <a href="#">Visa Info</a>
        <a href="#">Health and Safety</a>
        <a href="#">Travel Insurance</a>
    </section>

    <section>
        <h3>Contact</h3>

        <a href="#">envtrek@gmail.com</a>
        <a href="#">Mobile: +977 985103152</a>
        <a href="#">Tel: +977 1 5906003</a>
        <a href="#">Fax: +977 1 5906100</a>
    </section>

    <section>
        <h3>Address</h3>

        <a href="#">Thamel, Kathmandu, Nepal</a>
        <a href="#">P.O.Box: 25728</a>
    </section>
</footer>

<div id="status">
    Copyright © Nepal Environmental Treks &amp; Expedition Pvt. Ltd. 2020. All Rights Reserved.
</div>